

/* CSS variables */
:root {

}

main {

}

header {
  background-image: url('../public/images/pattern-bg.svg');
  background-repeat: no-repeat;
  min-height: 20rem; /* used for testing */
}

article {
  background-image: url('../public/images/pattern-quotes.svg');
  background-repeat: no-repeat;
  min-height: 20rem; /* used for testing */
}

footer {
  background-image: url('../public/images/pattern-curve.svg');
  background-repeat: no-repeat;
  min-height: 20rem; /* used for testing */
}
